<div class="page-header">
  <h1>Acerca de nosotros<small> HH Holding</small></h1>
</div>

<div>
	<div class="about">
		<p>
			HH Holding es una empresa chilena creada con la misión de poder hacer accesible lo trending en tecnoloñia a toda la poblacíon, trayendo a chile lo último en tecnología, asegurando calidad, los mejores precios y un excelente servicio al cliente con un equipo dispuesto a entregar ayuda todos ls días de la semana.
		</p>
		<p>
			Tenemos una visión de un mundo donde la tecnología brinda ayuda, entretención y posibilidades a la gente, por lo que esta incrustado en nuestra filosofía la accesibilidad de precios y productos.
		</p>
		<p>
			Sea usted bienvendio a revisar nuestra tienda online, y ante cualquier consulta no dude en contactar a nuestro equipo el cual estara feliz de ayudarlo en lo que pueda.
		</p>
	</div>
</div>