
<div class="media">
  <div class="media-left media-middle">
      <%= image_tag("mail_logo.png") %>
  </div>
  <div class="media-body">
    <h3 class="media-heading contact-description">Envíanos un correo con tu consulta o comentario a hhholding@hfreig.com</h3>
  </div>
</div>
