<!DOCTYPE html>
<html>

<body>

<div class="center jumbotron">
  <h1>Bienvenido a HH Holding Web Store</h1>
  <p>Tienda de articulos electronicos al mejor precio!</p>
  <p><%= link_to "Ir a la Tienda", store_path, class: "btn btn-primary btn-lg" %></p>
</div>

</body>
</html>
