<div class="media">
  <div class="media-left media-middle">
    <div>
      <%= image_tag("Drones.png") %>
    </div>
  </div>
  <div class="media-body">
    <h4 class="media-heading product-title">Mini Drones</h4>
    <p class="product-description">
      Con estos mini drones, vive toda la experiencia de volar tu propio cuadcoptero a un precio totalmente accesible. El dron es fácil de volar, e incluye su propio control y batería. Este dron es la mezcla justa de diversión y portabilidad gracias a tu tamaño, el lugar ya no será una excusa para divertirse.
    </p>
    <br>
    <p class="product-price">
      Precio: $15.000
      <%= link_to "Comprar", "http://articulo.mercadolibre.cl/MLC-442949049-dron-_JM", class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>

<br>

<div class="media">
  <div class="media-left media-middle">
    <div>
      <%= image_tag("lens.png") %>
    </div>
  </div>
  <div class="media-body">
    <h4 class="media-heading product-title">Kit Lentes para celular</h4>
    <p class="product-description">
      Este increíble kit de lentes para celulares es lo necesario para poder sacar fotos mucho más artiscticas y con diferentes estilos sólo usando tu telefino. Incluye un kit fácil de utilizar, el cual contiene un clip que se puede ajuntar a la mayoría de los celulares y dos lentes intercambiables para obtener diferentes estilos de foto. Un lente es el macro para tomar foto a objetos de cerca y el otro es un lente ojo de pez el cual nos da un amplio angulo de visión.
    </p>
    <br>
    <p class="product-price">
      Precio: $5.000
      <%= link_to "Comprar", "http://articulo.mercadolibre.cl/MLC-442948974-lente-ojo-de-pez-_JM", class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
